.intro {

    color:gray;
    margin-bottom: 0;
}

div .filepicker {
    width: 100px;
}




.dz-message {
    margin: 0 auto;
    margin-bottom: 30px;
}

.dz-message span {
    font-size: 10pt;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.filepicker-file-icon {
    
}